body{
    background-color: rgb(42, 41, 41);
}
.bg-light-dark{
    background-color: #2b3035;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}